<mat-sidenav-container class="filter-sidebar">
    <mat-sidenav #sidenav [mode]="device.handset ? 'over' : 'side'" [opened]="!navClosed" position="end">
        <filter-control *ngIf="filters" [filters]="filters" (apply)="applyFilter($event)"></filter-control>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-progress-bar mode="indeterminate" loading-bar="search"></mat-progress-bar>
        <mat-nav-list class="data-list">
            <mat-list-item *ngFor="let item of (data | async)?.items" (click)="select(item.id)">
                <div matLine class="header">{{item.header}}</div>
                <div matLine class="subheader">{{item.subheader}}</div>
                <div matLine class="number"># {{item.number}} &nbsp;
                    <span [status]="item.status">{{item.status | status}}</span>
                </div>
            </mat-list-item>
        </mat-nav-list>
        <mat-paginator #paginator [length]="(data | async)?.total" [ngStyle]="{display: (data | async)?.total > 15?'block':'none'}"
            [pageIndex]="0" [pageSize]="15" [pageSizeOptions]="[15, 30, 50]" showFirstLastButtons="true" hidePageSize="true">
        </mat-paginator>
    </mat-sidenav-content>
</mat-sidenav-container>