<mat-sidenav-container class="filter-sidebar">
    <mat-sidenav #sidenav [mode]="device.handset ? 'over' : 'side'" [opened]="!navClosed" position="end">
        <filter-control *ngIf="filters" [statuses]="statuses" [filters]="filters" (apply)="applyFilter($event)"></filter-control>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="filter-row" fxLayout="row" fxLayoutGap="15px">
            <div fxFlex="25%">
                <text-control width="100%" label="Search" placeholder="Type to search..." [control]="searchCtrl" suffix="search"></text-control>
            </div>
            <div fxFlex="25%">
                <dropdown-control *ngIf="statuses" forFilter="true" label="Status" [data]="statuses" [control]="statusCtrl"></dropdown-control>
            </div>
            <div class="spacer"></div>
            <button mat-icon-button class="float-right" type="button" matTooltip="Advance Filter" (click)="navClosed = !navClosed">
                <i class="material-icons">filter_list</i>
            </button>
        </div>
        <mat-progress-bar mode="indeterminate" loading-bar="search"></mat-progress-bar>
        <div class="table-container">
            <table mat-table #table [dataSource]="(data | async)?.items" matSort>
                <ng-container *ngFor="let column of gridColumns" [matColumnDef]="column.columnDef">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.header }} </th>
                    <ng-container [ngSwitch]="column.cell()" *matCellDef="let row">
                        <td *ngSwitchCase="3" mat-cell>{{row[column.columnDef] | number:'1.2-4'}}</td>
                        <td *ngSwitchCase="4" mat-cell>{{row[column.columnDef] | dateString}}</td>
                        <td *ngSwitchCase="7" mat-cell>{{row[column.columnDef] | datetimeString}}</td>
                        <td *ngSwitchCase="8" mat-cell class="status">
                            <span [status]="row[column.columnDef]">{{row[column.columnDef] | status}}</span>
                        </td>
                        <td *ngSwitchCase="9" mat-cell class="image">
                            <img *ngIf="row[column.columnDef]" [src]="document.getIconURL(row[column.columnDef])" alt="no-image" />
                            <mat-icon *ngIf="!row[column.columnDef]">image</mat-icon>
                        </td>
                        <td *ngSwitchDefault mat-cell>{{row[column.columnDef]}}</td>
                    </ng-container>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                <tr mat-row class="clickable" (click)="select(row.id)" *matRowDef="let row; columns:displayColumns;"></tr>
            </table>
        </div>
        <mat-paginator #paginator [length]="(data | async)?.total" [ngStyle]="{display: (data | async)?.total > 15?'block':'none'}"
            [pageIndex]="0" [pageSize]="15" [pageSizeOptions]="[15, 30, 50]">
        </mat-paginator>
    </mat-sidenav-content>
</mat-sidenav-container>