<div mat-dialog-title fxLayout="row">
    <button mat-button fxHide.gt-md="true" (click)="close()" class="header-btn back" tabindex="-1">
        <mat-icon class="material-icons">arrow_back</mat-icon>
    </button>
    {{data.item.lovItemName?data.item.lovItemName:'New Item'}}
    <div class="spacer"></div>
    <button mat-button fxHide.lt-lg="true" (click)="close()" class="header-btn close" tabindex="-1">
        <mat-icon class="material-icons">close</mat-icon>
    </button>
</div>
<div mat-dialog-content>
    <div class="padding-15">
        <form id="itemForm" (ngSubmit)="submit()" [formGroup]="itemForm" novalidate>
            <div fxLayout="row wrap" fxLayoutGap="15px" class="pull-in-r">
                <text-control requied="true" label="Name" [control]="itemForm.controls.lovItemName"></text-control>
            </div>
        </form>
    </div>
</div>
<div mat-dialog-actions align="end">
    <button form="itemForm" type="submit" mat-flat-button color="primary">
        SAVE
    </button>
</div>