<mat-nav-list class="nav" dense>
    <mat-list-item routerLink="/app/home">
        <mat-icon mat-list-icon>home</mat-icon>
        <a matLine class="nav-text">Home</a>
    </mat-list-item>
    
    <div *ngFor="let menu of menus | async">
        <!-- Container -->
        <ng-container *ngIf="menu.subMenus.length == 0; then singleLevel; else multiLevel">
        </ng-container>

        <!-- Single Level Menu -->
        <ng-template #singleLevel>
            <mat-list-item [routerLink]="menu.linkURL">
                <mat-icon mat-list-icon>{{menu.iconClass}}</mat-icon>
                <a matLine class="nav-text">{{menu.menuName}}</a>
            </mat-list-item>
        </ng-template>

        <!-- Multi Level Menu -->
        <ng-template #multiLevel>
            <div [ngClass]="{'open': openParent== menu.menuName}">
                <mat-list-item class="parent" (click)="open(menu.menuName)">
                    <mat-icon mat-list-icon>{{menu.iconClass}}</mat-icon>
                    <a matLine class="nav-text">{{menu.menuName}}</a>
                    <mat-icon class="expand-icon">expand_more</mat-icon>
                </mat-list-item>
                <div class="child">
                    <mat-list-item *ngFor="let subMenu of menu.subMenus" [routerLink]="subMenu.linkURL">
                        <mat-icon mat-list-icon></mat-icon>
                        <a matLine class="nav-text">{{subMenu.menuName}}</a>
                    </mat-list-item>
                </div>
            </div>
        </ng-template>
    </div>
</mat-nav-list>