// Header
.app-container {
    height: 100%;
}

.app-header {
    padding-left: 0px !important;
    height: $header-height-sm !important;
    background-color: #fff !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    position: relative;
    z-index: 3;

    @media (min-width: map-get($grid-breakpoints, md)) {
        height: $header-height !important;
    }
}

.header-btn {
    margin: 0 !important;
    border-radius: 0 !important;
    line-height: $header-height !important;
    min-width: $header-height !important;

    @media only screen and (max-width: map-get($grid-breakpoints, md) - 1) {
        line-height: $header-height-sm !important;
        min-width: $header-height-sm !important;
    }
    > .material-icons {
        vertical-align: middle;
    }
}

.app-content {
    min-height: calc(100% - #{$header-height + $footer-height});
    @media only screen and (max-width: map-get($grid-breakpoints, md) - 1) {
        min-height: calc(100% - #{$header-height-sm});
    }

    &.sticky {
        .page-title {
            position: fixed;
            top: 0;
            width: 100%;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        }
        .page-content {
            padding-top: $header-height;
        }
    }
}

// Page
.page-title {
    background-color: $gray-200;
    font-size: 22px;
    font-weight: normal;
    line-height: $header-height;
    padding: 0px 0.6em;
    position: relative;
    z-index: 2;

    @media only screen and (max-width: map-get($grid-breakpoints, md) - 1) {
        line-height: $header-height-sm !important;
        font-size: 18px;
    }
}

.page-content {
}

// Filter
.filter-sidebar {
    min-height: calc(100vh - 112px);
    
    @media only screen and (max-width: map-get($grid-breakpoints, md) - 1) {
        min-height: calc(100vh - 96px);
    }

    mat-sidenav {
        width: $sidefilter-width;
        background-color: $white !important;
        border-left: 1px solid $border;
        padding: 15px;
    }
}

.filter-row {
    padding: 15px 15px 0px 15px;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.16), 0 8px 10px -6px rgba(0, 0, 0, 0.12);
    position: relative;
}
