// Table
.mat-table {
    width: 100% !important;
}
.mat-cell,
.mat-header-cell {
    padding: 0px 5px !important;
}
td.mat-cell:first-child,
td.mat-footer-cell:first-child,
th.mat-header-cell:first-child {
    padding-left: 24px !important;
}
td.mat-cell:last-child,
td.mat-footer-cell:last-child,
th.mat-header-cell:last-child {
    padding-right: 24px !important;
}

.mat-paginator {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.table-container {
    padding-bottom: 56px;
}

// Outline
.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end,
.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap,
.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start {
    border-width: 1px !important;
}
[required='true'] {
    .mat-form-field-outline-end,
    .mat-form-field-outline-gap,
    .mat-form-field-outline-start {
        color: $accent;
    }
    // .mat-form-field-label {
    //     color: $accent !important;
    // }
}

// Progressbar
.mat-progress-bar {
    height: 2px !important;
}

// Tab
.page-tab {
    .mat-tab-header {
        background-color: $gray-200 !important;
        border-bottom: 1px solid rgba(#000, 0.05) !important;
    }
    .mat-tab-label:focus {
        background-color: $gray-200 !important;
    }
    .mat-tab-label-active {
        opacity: 1 !important;
        color: $primary !important;
    }
}

// Buttons
button.square {
    border-radius: 0 !important;
    line-height: 36px !important;
    min-width: 36px !important;
    padding: 0px 6px !important;

    > .material-icons {
        vertical-align: middle;
    }
}
button.active {
    color: $accent !important;
    background-color: $gray-200 !important;
}

// List
.mat-list-item.active {
    background-color: $white;
}
.mat-list-item.active:hover{
    background-color: $white !important;
}
