<mat-form-field appearance="outline" [ngStyle]="{'width': width}" style="max-width: 100%">
    <mat-label *ngIf="label">{{label}}</mat-label>
    <mat-select [formControl]="control" [required]="required">
        <mat-option *ngIf="!required">{{forFilter?'All':'None'}} </mat-option>
        <mat-option *ngFor="let item of items" [value]="item.itemName">
            {{ item.itemName }}
        </mat-option>
    </mat-select>
    <mat-hint align="end">{{hint}}</mat-hint>
    <mat-error>{{control.errors | errorMessage}}</mat-error>
    <div matSuffix class="material-icons" *ngIf="!items">
        <mat-spinner diameter="24"></mat-spinner>
    </div>
</mat-form-field>