<mat-sidenav-container class="app-container" hasBackdrop="false" [ngClass]="{'collapsed': navCollapsed}">
    <mat-sidenav class="nav-sidebar" [mode]="device.handset ? 'over' : 'side'" [opened]="!navClosed">
        <div class="sidebar-header">
            <div class="brand">
                <span class="full">
                    City Store
                </span>
                <span class="short">
                    <mat-icon>C</mat-icon>
                </span>
            </div>
            <a href="javascript:;" class="collapsednav-toggler" (click)="toggleCollapsedNav()">
                <i class="material-icons" *ngIf="navCollapsed" tabindex="-1">radio_button_unchecked</i>
                <i class="material-icons" *ngIf="!navCollapsed" tabindex="-1"> {{device.handset?'close': 'radio_button_checked'}}</i>
            </a>
        </div>
        <app-nav></app-nav>
    </mat-sidenav>
    <mat-sidenav-content class="nav-sidebar-content" (scroll)="onWindowScroll($event)">
        <app-header (toggleNav)="toggleCollapsedNav()" [ngClass]="{'fixed': fixedHeader}"></app-header>
        <div class="app-content" [@routeAnimation]="getState(o)">

            <router-outlet #o="outlet"></router-outlet>

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>